<a href="https://colab.research.google.com/github/panakb/Projekt_01/blob/main/kampan.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [33]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder

data = pd.read_csv('train.csv')

In [34]:
data

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,58,management,married,tertiary,no,2143,yes,no,unknown,5,may,261,1,-1,0,unknown,no
1,44,technician,single,secondary,no,29,yes,no,unknown,5,may,151,1,-1,0,unknown,no
2,33,entrepreneur,married,secondary,no,2,yes,yes,unknown,5,may,76,1,-1,0,unknown,no
3,47,blue-collar,married,unknown,no,1506,yes,no,unknown,5,may,92,1,-1,0,unknown,no
4,33,unknown,single,unknown,no,1,no,no,unknown,5,may,198,1,-1,0,unknown,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45206,51,technician,married,tertiary,no,825,no,no,cellular,17,nov,977,3,-1,0,unknown,yes
45207,71,retired,divorced,primary,no,1729,no,no,cellular,17,nov,456,2,-1,0,unknown,yes
45208,72,retired,married,secondary,no,5715,no,no,cellular,17,nov,1127,5,184,3,success,yes
45209,57,blue-collar,married,secondary,no,668,no,no,telephone,17,nov,508,4,-1,0,unknown,no
45210,37,entrepreneur,married,secondary,no,2971,no,no,cellular,17,nov,361,2,188,11,other,no

In [35]:
data.describe(include='all')

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
count,45211.000000,45211,45211,45211,45211,45211.000000,45211,45211,45211,45211.000000,45211,45211.000000,45211.000000,45211.000000,45211.000000,45211,45211
unique,NaN,12,3,4,2,NaN,2,2,3,NaN,12,NaN,NaN,NaN,NaN,4,2
top,NaN,blue-collar,married,secondary,no,NaN,yes,no,cellular,NaN,may,NaN,NaN,NaN,NaN,unknown,no
freq,NaN,9732,27214,23202,44396,NaN,25130,37967,29285,NaN,13766,NaN,NaN,NaN,NaN,36959,39922
mean,40.936210,NaN,NaN,NaN,NaN,1362.272058,NaN,NaN,NaN,15.806419,NaN,258.163080,2.763841,40.197828,0.580323,NaN,NaN
std,10.618762,NaN,NaN,NaN,NaN,3044.765829,NaN,NaN,NaN,8.322476,NaN,257.527812,3.098021,100.128746,2.303441,NaN,NaN
min,18.000000,NaN,NaN,NaN,NaN,-8019.000000,NaN,NaN,NaN,1.000000,NaN,0.000000,1.000000,-1.000000,0.000000,NaN,NaN
25%,33.000000,NaN,NaN,NaN,NaN,72.000000,NaN,NaN,NaN,8.000000,NaN,103.000000,1.000000,-1.000000,0.000000,NaN,NaN
50%,39.000000,NaN,NaN,NaN,NaN,448.000000,NaN,NaN,NaN,16.000000,NaN,180.000000,2.000000,-1.000000,0.000000,NaN,NaN
75%,48.000000,NaN,NaN,NaN,NaN,1428.000000,NaN,NaN,NaN,21.000000,NaN,319.000000,3.000000,-1.000000,0.000000,NaN,NaN
max,95.000000,NaN,NaN,NaN,NaN,102127.000000,NaN,NaN,NaN,31.000000,NaN,4918.000000,63.000000,871.000000,275.000000,NaN,NaN

In [36]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45211 entries, 0 to 45210
Data columns (total 17 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   age        45211 non-null  int64
 1   job        45211 non-null  object
 2   marital    45211 non-null  object
 3   education  45211 non-null  object
 4   default    45211 non-null  object
 5   balance    45211 non-null  int64
 6   housing    45211 non-null  object
 7   loan       45211 non-null  object
 8   contact    45211 non-null  object
 9   day        45211 non-null  int64
 10  month      45211 non-null  object
 11  duration   45211 non-null  int64
 12  campaign   45211 non-null  int64
 13  pdays      45211 non-null  int64
 14  previous   45211 non-null  int64
 15  poutcome   45211 non-null  object
 16  y          45211 non-null  object
dtypes: int64(7), object(10)
memory usage: 5.9+ MB

# **Seznam sloupců**

age - ok, nechat jak je.

job - vyhodit hodnoty unknown

martial - label enocoder - 1, 2,3

education - laber encoder a unknown nahradit secondary

housing, loan - yes/ no nechat na 0 a 1

contact - nechat zatím 0, 1, 2 - zvážit korelaci

day a month - den vyhodit, nechat měsíc - graf před zprac, histogram atd.

duration -  délka trvání hovoru - dáme do grafu a rozhodneme outlayers

campaign - řešit outlayers

pdays - nechat jak je

poutcome - nechat jak je



***y - výsledek - yes / no nechat***

In [61]:
data.poutcome.unique()

array(['unknown', 'failure', 'other', 'success'], dtype=object)

In [60]:
data[(data.pdays != -1) & (data.poutcome == 'unknown')].count()

age          5
job          5
marital      5
education    5
default      5
balance      5
housing      5
loan         5
contact      5
day          5
month        5
duration     5
campaign     5
pdays        5
previous     5
poutcome     5
y            5
dtype: int64

In [38]:
data[data['education'] == 'unknown'].count()

age          1857
job          1857
marital      1857
education    1857
default      1857
balance      1857
housing      1857
loan         1857
contact      1857
day          1857
month        1857
duration     1857
campaign     1857
pdays        1857
previous     1857
poutcome     1857
y            1857
dtype: int64

In [39]:
data_mod = data[data['job'] != 'unknown']

In [40]:
data_mod.education[data_mod.education == 'unknown'] = 'secondary'

<ipython-input-40-ab82ca84db76>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_mod.education[data_mod.education == 'unknown'] = 'secondary'
<ipython-input-40-ab82ca84db76>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_mod.education[data_mod.education == 'unknown'] = 'secondary'

In [41]:
data_mod.education.unique()

array(['tertiary', 'secondary', 'primary'], dtype=object)

In [43]:
L = LabelEncoder()

data_mod = data_mod.apply(L.fit_transform)

data_mod.sample(5)

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
30049,12,4,1,2,0,1283,0,0,0,3,3,170,1,0,0,3,0
16745,21,1,1,1,0,1250,1,0,1,23,5,575,3,0,0,3,0
26669,14,9,1,1,0,5381,1,1,0,19,9,330,2,0,0,3,0
10104,35,0,2,1,0,632,0,1,2,10,6,328,0,0,0,3,0
44938,29,3,2,2,0,3986,0,0,1,5,10,541,0,201,3,0,0

In [44]:
data_mod.default.unique()

array([0, 1])

In [7]:
data[data['default'] == 'yes']

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
7,42,entrepreneur,divorced,tertiary,yes,2,yes,no,unknown,5,may,380,1,-1,0,unknown,no
79,55,services,divorced,secondary,yes,1,yes,no,unknown,5,may,208,1,-1,0,unknown,no
338,51,admin.,single,secondary,yes,-2,no,no,unknown,5,may,402,3,-1,0,unknown,no
419,33,technician,married,secondary,yes,72,yes,no,unknown,6,may,623,1,-1,0,unknown,no
458,33,blue-collar,single,secondary,yes,-60,no,no,unknown,6,may,243,1,-1,0,unknown,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41562,71,retired,divorced,tertiary,yes,1236,yes,no,cellular,14,sep,335,4,-1,0,unknown,yes
44099,28,management,single,tertiary,yes,1414,yes,no,cellular,8,jul,294,1,521,1,failure,yes
44161,25,technician,single,tertiary,yes,160,no,yes,unknown,13,jul,151,1,-1,0,unknown,no
44302,31,services,single,secondary,yes,-248,no,no,unknown,27,jul,5,1,-1,0,unknown,no
44606,27,student,single,primary,yes,25,no,no,unknown,28,aug,8,1,-1,0,unknown,no

In [12]:
data[(data.pdays != -1) & (data.poutcome == 'unknown')].count()

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [11]:
data['job'].unique()

array(['management', 'technician', 'entrepreneur', 'blue-collar',
       'unknown', 'retired', 'admin.', 'services', 'self-employed',
       'unemployed', 'housemaid', 'student'], dtype=object)

In [10]:
data['pdays'].unique()

array([ -1, 151, 166,  91,  86, 143, 147,  89, 140, 176, 101, 174, 170,
       167, 195, 165, 129, 188, 196, 172, 118, 119, 104, 171, 117, 164,
       132, 131, 123, 159, 186, 111, 115, 116, 173, 178, 110, 152,  96,
       103, 150, 175, 193, 181, 185, 154, 145, 138, 126, 180, 109, 158,
       168,  97, 182, 127, 130, 194, 125, 105, 102,  26, 179,  28, 183,
       155, 112, 120, 137, 124, 187, 190, 113, 162, 134, 169, 189,   8,
       144, 191, 184, 177,   5,  99, 133,  93,  92,  10, 100, 156, 198,
       106, 153, 146, 128,   7, 121, 160, 107,  90,  27, 197, 136, 139,
       122, 157, 149, 135,  30, 114,  98, 192, 163,  34,  95, 141,  31,
       199,  94, 108,  29, 268, 247, 253, 226, 244, 239, 245, 204, 231,
       238, 258, 230, 254, 265,  71, 223, 246, 250, 266, 240, 205, 261,
       259, 241, 260, 234, 251, 225, 161, 237, 262, 248, 255, 220, 227,
       206, 224, 249, 235, 228, 263,   2, 270, 232, 252, 207, 200, 269,
       233, 256, 273, 272, 242, 264, 208, 214, 222, 271, 203, 221, 202,
       216, 201, 257, 229, 210, 217,  75, 213,  73,  76, 267, 211, 215,
        77, 236,  82,   6, 209, 274,   1, 243, 212, 275,  80, 276,   9,
       279,  12, 280,  88, 277,  85,  84, 219,  24,  21, 282,  41, 294,
        49, 329, 307, 303, 331, 308, 300,  64, 314, 287, 330, 332, 302,
       323, 318, 333,  60, 326, 335, 313, 312, 305, 325, 327, 336, 309,
       328, 322,  39, 316, 292, 295, 310, 306, 320, 317, 289,  57, 321,
       142, 339, 301, 315, 337, 334, 340, 319,  17,  74, 148, 341, 299,
       344, 342, 324, 345, 346, 304, 281, 343, 338,  14, 347,  15, 291,
       348, 349, 285, 350, 284,  25, 283, 278,  81,   4,  87,  83,  79,
        70,  13, 293,  37,  78,  63,  22, 296, 355,  66,  19,  35, 360,
       357, 354, 351, 362, 358, 365, 298, 286, 364, 363,  47, 361, 288,
       366, 356, 352, 359, 297, 367, 353, 368,  42, 290,  67, 371, 370,
       369,  50,  36, 373, 374, 372, 311, 375, 378,  59, 379,  40,  18,
        43,  20,  69,  38, 385,  56,  55,  44, 391,  72, 390,  32,  62,
       399, 393,  65, 377, 395, 388, 389, 386,  61, 412, 405, 434, 394,
       382, 459, 440, 397, 383,  68, 461, 462, 463, 422,  51, 457, 430,
       442, 403, 454, 428, 392, 410, 401, 474, 475, 477, 478,  54, 476,
       380, 479,  45,  46, 495,  58,  48, 518,  52, 515, 520, 511, 536,
       387, 218,  33, 544, 435, 436, 555, 433, 446, 558, 469, 616, 561,
       553, 384, 592, 467, 585, 480, 421, 667, 626, 426, 595, 381, 376,
       648, 521, 452, 449, 633, 398,  53, 460, 670, 551, 414, 557, 687,
       404, 651, 686, 425, 504, 578, 674, 416, 586, 411, 756, 450, 745,
       514, 417, 424, 776, 396, 683, 529, 439, 415, 456, 407, 458, 532,
       481, 791, 701, 531, 792, 413, 445, 535, 784, 419, 455, 491, 431,
       542, 470, 472, 717, 437,   3, 782, 728, 828, 524, 562, 761, 492,
       775, 579, 493, 464, 760, 466, 465, 656, 831, 490, 432, 655, 427,
       749, 838, 769, 587, 778, 854, 779, 850, 771, 594, 842, 589, 603,
       484, 489, 486, 409, 444, 680, 808, 485, 503, 690, 772, 774, 526,
       420, 528, 500, 826, 804, 508, 547, 805, 541, 543, 871, 550, 530],
      dtype=int64)